body {
    font-family: 'gothambold', sans-serif;
    background-color: green;
}

.TituloUno {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    background-color: red;
    padding: 20px;
    width: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
}

.hipermetropía {
    font-size: 30px;
}

.box-Description {
    background-color: lightseagreen;
    border-radius: 30px;
    padding: 15px;
    margin: 50px;
    margin-top: 130px;
}

footer {
    background-color: gray;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    border: 0;
    bottom: 0;
    position: relative;
}

.copyright {
    display: flexbox;
}
